<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>.\\logFiles\\mainLog.txt</file>
        <append>false</append>
        <encoder>
            <pattern>%(%d{ISO8601}) %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HandlerInterceptorLog" class="ch.qos.logback.core.FileAppender">
        <file>.\\logFiles\\handlerInterceptorLog.txt</file>
        <append>false</append>
        <encoder>
            <pattern>%(%d{ISO8601}) %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="hibernateLog" class="ch.qos.logback.core.FileAppender">
        <file>.\\logFiles\\hibernateLog.txt</file>
        <append>false</append>
        <encoder>
            <pattern>%(%d{ISO8601}) %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="indexingServiceLog" class="ch.qos.logback.core.FileAppender">
        <file>.\\logFiles\\indexingServiceLog.txt</file>
        <append>false</append>
        <encoder>
            <pattern>%(%d{ISO8601}) %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.hibernate" level="INFO" additivity = "false">
        <appender-ref ref="hibernateLog"/>
    </logger>

    <logger name="searchengine.utility.HandlerInterceptorLog" level="DEBUG" additivity = "false">
        <appender-ref ref="HandlerInterceptorLog"/>
    </logger>

    <logger name="searchengine.services.IndexingServiceImpl" level="INFO" additivity = "false">
        <appender-ref ref="indexingServiceLog"/>
    </logger>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>